[viewBag]

[staticMenu top_menu]
code = "top_menu"
==
<div id="defaultNotification" class="notification hidden">
  <p>Default notification message</p>
  <div class="close"></div>
</div>
<header class="x12">
  <div class="logo">
    <span>Desiato</span>
  </div>
  <nav class="account">
    <ul class="inline">
      <li>{{address}}</li>
      <li>{{phone}}</li>
      <li>{{email}}</li>
      <li><a href="#" id="menu"><span class="icon inline"><svg class="icon"><use href="{{ 'assets/images/icons.svg#bars'|theme }}"></use></svg></span></a></li>
      <li><a href="#"><span class="icon inline"><svg class="icon"><use href="{{ 'assets/images/icons.svg#sign-in-alt'|theme }}"></use></svg></span>Login</a></li>
      <li><a href="#"><span class="icon inline"><svg class="icon"><use href="{{ 'assets/images/icons.svg#user-plus'|theme }}"></use></svg></span>Sign Up</a></li>
    </ul>
  </nav>
</header>
