[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs breadcrumbs]

[contactForm]

[CustomSettings]

[staticMenu top_menu]
code = "top_menu"
==
<?php
function onStart() {
  $this['site_name'] = config('app.name');
}
?>
==
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ site_name }} - {{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ 'assets/images/favicon.ico'|theme|live }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ 'assets/styles/app.css'|theme|live }}">
</head>

<body>
  {% partial 'header' %}
  <main>
    <nav>
      <div class="column">
      {% partial 'top_menu' items=top_menu.menuItems %}
      </div>
    </nav>
    <div class="wrapper">
      <section class="intro">
        <div class="column">
          <h1>{{ this.page.title }}</h1>
        </div>
      </section>
      <section class="mist center">
        <div class="column">
          {% if not (this.page.url == '/') %}
          <ul class="breadcrumbs slash">
            <li><a href="/">Home</a></li>
            {% partial 'breadcrumbs' items=breadcrumbs %}
          </ul>
          {% endif %}
        </div>
      </section>
      <section class="center">
        <div class="column">
          {% page %}
        </div>
      </section>
    </div>
  </main>
  {% partial 'footer' %}
  <div id="dialog" class="modal hidden close">
    <div class="background">
      <div class="window">
        <div class="header">
          <p>Message Header</p>
        </div>
        <div class="close"></div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ...</p>
        </div>
        <div class="buttons">
          <button class="cancel">Cancel</button>
          <button class="ok">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <object data="{{ 'assets/images/icons.svg'|theme|live }}" type="image/svg+xml" id="icons" width="0" height="0"></object>
  <script src="{{ 'assets/js/app.js'|theme|live }}"></script>
  {% framework extras %}
</body>
</html>
