@import 'normalize/import-now';
@import 'vars';
@import 'functions';
@import 'roboto';
@import 'layout';
@import 'navigation';
@import 'lists';
@import 'forms';
@import 'elements';
@import 'typography';

body {
  --themeColor: _color(theme);
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  color: _color(text-base);

  a {
    color: _color(base-link);

    &:hover {
      color: darken(_color(base-link), 10%);
      transition: color _duration(hover) ease;
    }
  }

  h1, h2, h3, h4 {
    color: _color(base-header);
    font-weight: 700;
    margin: _size(element) * 0.5 0 _size(element) 0;
    text-align: left;
  }

  h1 {
    font-size: _size(element) * 2;
    text-transform: uppercase;
  }

  h2 {
    font-size: _size(element) * 1.75;
  }

  h3 {
    font-size: _size(element) * 1.5;
  }

  h4 {
    font-size: _size(element) * 1.25;
  }

  p {
    margin: 0;

    &.fl {
      &:first-letter {
        color: _color(accent);
        font-weight: 700;
      }
    }
  }

  .accent {
    color: _color(accent);
  }

}

header {
  background-color: _color(header-bg);
  color: _color(header-color);

  a {
    color: _color(header-link);
  }
}

footer {
  background-color: _color(dark-bg);
  color: _color(footer-color);
  font-size: 90%;

  a {
    color: _color(footer-link);
  }
}

svg {
  width: 100%;
  height: 100%;
}

.icon {
  fill: currentColor;

  &.inline {
    display: inline-flex;
    align-items: center;
    height: _size(element);
    max-width: _size(element);
    margin-right: _size(element) * 0.25;

    &:before {
      content: ".";
      visibility: hidden;
      font-size: inherit;
      width: 0;
    }
  }

  &.xl {
    display: flex;
    height: 3rem;
    max-width: 3rem;
  }
}

#gmap {
  height: 450px;
}
